<div class="card card-outline-primary mb-3">
  <div class="card-block">
    <div class="row">
      <div class="col-md-2">
        <img src="http://placehold.it/60x60" class="rounded float-left">
      </div>
      <div class="col-md-10">
        <div><%= comment.content %></div>
        <div><%= time_ago_in_words comment.updated_at %> 前发表</div>
      </div>
    </div>
  </div>
</div>