<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">我的博客</h1>
    <p class="lead blog-description">An example blog template built with Bootstrap.</p>
    <%= link_to '新建博客', new_blog_path if can? :create, Blog %>
  </div>
</div>