<footer class="footer">
  <div class="top">
    <p>
      <span id="busuanzi_container_site_uv" style="display: inline;">
        站点总访客数：<span id="busuanzi_value_site_uv">12082</span>
          </span>
      <span id="busuanzi_container_site_pv" style="display: inline;">
        站点总访问量：<span id="busuanzi_value_site_pv">36732</span>
          </span>
    </p>
    <p>
      <span><a href="http://www.kotliner.cn/atom.xml" target="_blank" class="rss" title="rss"><i class="icon icon-lg icon-rss"></i></a></span>
      <span>博客内容遵循 <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">知识共享 署名 - 非商业性 - 相同方式共享 4.0协议</a></span>
    </p>
  </div>
  <div class="bottom">
    <p>
      <span class="copyright-text">京ICP备16022265号-2&nbsp;</span>
      <span>Kotlin © 2017</span>
    </p>
    <p>
      本站由<a style="display:inline" href="https://account.ucloud.cn/cas/register?utm_source=kotliner&amp;utm_medium=content_pic_pc&amp;utm_campaign=zanzhu&amp;ytag=kotliner">UCloud 提供赞助 - 注册即送 50 元代金券</a>
    </p>
    <p>
      <span>Power by <a href="http://hexo.io/" target="_blank">Hexo</a> Theme <a href="https://github.com/yscoder/hexo-theme-indigo" target="_blank">indigo</a></span>
    </p>
  </div>
</footer>