<aside id="menu" class="">
  <div class="inner flex-row-vertical">
    <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="menu-off">
      <i class="icon icon-lg icon-close"></i>
    </a>
    <div class="brand-wrap" style="background-image:url('assets/brand.jpg')">
      <div class="brand">
        <a href="http://www.kotliner.cn/" class="avatar waves-effect waves-circle waves-light">
          <%= image_tag 'profile.jpg' %>
        </a>
        <hgroup class="introduce">
          <h5 class="nickname">Kotlin</h5>
          <a href="mailto:kotlin@kotliner.cn" title="kotlin@kotliner.cn" class="mail">kotlin@kotliner.cn</a>
        </hgroup>
      </div>
    </div>
    <div class="scroll-wrap flex-col">
      <ul class="nav">
        <li class="waves-block waves-effect active">
          <a href="http://www.kotliner.cn/">
            <i class="icon icon-lg icon-home"></i> 主页
          </a>
        </li>
        <li class="waves-block waves-effect">
          <a href="https://www.kotlincn.net/">
            <i class="icon icon-lg icon-certificate"></i> 官网
          </a>
        </li>
        <li class="waves-block waves-effect">
          <a href="http://www.kotliner.cn/archives">
            <i class="icon icon-lg icon-archives"></i> 所有文章
          </a>
        </li>
        <li class="waves-block waves-effect">
          <a href="http://www.kotliner.cn/authors">
            <i class="icon icon-lg icon-user"></i> 所有作者
          </a>
        </li>
        <li class="waves-block waves-effect">
          <a href="http://www.kotliner.cn/tags">
            <i class="icon icon-lg icon-tags"></i> 标签
          </a>
        </li>
        <li class="waves-block waves-effect">
          <a href="http://www.kotliner.cn/categories">
            <i class="icon icon-lg icon-th-list"></i> 分类
          </a>
        </li>
        <li class="waves-block waves-effect">
          <a href="http://www.kotliner.cn/about">
            <i class="icon icon-lg icon-info"></i> 关于我们
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>


<!--<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">-->
  <!--<ul class="nav nav-pills flex-column">-->
    <!--<li class="nav-item">-->
      <!--<a class="nav-link active" href="#">基本资料</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
      <!--<a class="nav-link" href="#">个人信息</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
      <!--<a class="nav-link" href="#">黑名单</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
      <!--<a class="nav-link" href="#">赞赏设置</a>-->
    <!--</li>-->

    <!--<li class="nav-item">-->
      <!--<a class="nav-link" href="#">账号管理</a>-->
    <!--</li>-->
  <!--</ul>-->
<!--</nav>-->