<div class="global-share" id="globalShare">
  <ul class="reset share-icons">
    <li class=" waves-effect waves-block">
      <a class="weibo share-sns" target="_blank" href="http://service.weibo.com/share/share.php?url=http://www.Kotliner.cn/&amp;title=Kotlin&amp;pic=http://www.Kotliner.cn/assets/img/Kotlin-logo.png" data-title="微博">
        <i class="icon icon-weibo"></i>
      </a>
    </li>
    <li class=" waves-effect waves-block">
      <a class="weixin share-sns wxFab" href="javascript:;" data-title="微信">
        <i class="icon icon-weixin"></i>
      </a>
    </li>
    <li class=" waves-effect waves-block">
      <a class="qq share-sns" target="_blank" href="http://connect.qq.com/widget/shareqq/index.html?url=http://www.Kotliner.cn/&amp;title=Kotlin&amp;source=Kotlin%20%E6%98%AF%E4%B8%80%E9%97%A8%E7%94%B1%20JetBrains%20%E5%85%AC%E5%8F%B8%E5%BC%80%E5%8F%91%E7%9A%84%E8%BF%90%E8%A1%8C%E5%9C%A8%20JVM%E3%80%81Android%E3%80%81%E5%89%8D%E7%AB%AF%E7%9A%84%E9%9D%99%E6%80%81%E8%AF%AD%E8%A8%80%EF%BC%8C%E5%AE%83%20100%%20%E5%85%BC%E5%AE%B9%20Java%EF%BC%8C%E5%B9%B6%E4%B8%94%E5%BC%80%E5%A7%8B%E9%80%90%E6%AD%A5%E6%94%AF%E6%8C%81%20Na..."
         data-title=" QQ">
        <i class="icon icon-qq"></i>
      </a>
    </li>
    <li class=" waves-effect waves-block">
      <a class="facebook share-sns" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://www.Kotliner.cn/" data-title=" Facebook">
        <i class="icon icon-facebook"></i>
      </a>
    </li>
    <li class=" waves-effect waves-block">
      <a class="twitter share-sns" target="_blank" href="https://twitter.com/intent/tweet?text=Kotlin&amp;url=http://www.Kotliner.cn/&amp;via=http://www.Kotliner.cn" data-title=" Twitter">
        <i class="icon icon-twitter"></i>
      </a>
    </li>
    <li class=" waves-effect waves-block">
      <a class="google share-sns" target="_blank" href="https://plus.google.com/share?url=http://www.Kotliner.cn/" data-title=" Google+">
        <i class="icon icon-google-plus"></i>
      </a>
    </li>
  </ul>
</div>

<div class="page-modal wx-share" id="wxShare">
  <a class="close" href="javascript:;"><i class="icon icon-close"></i></a>
  <p>扫一扫，分享到微信</p>
  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAACWCAAAAAAZai4+AAABVklEQVR42u3aMRKDMAxEUe5/aafNDJGya4kC67tigIxfE3uRdV3yWLfxfV9/v3nAgnUQa6XjPn30NLqT3w/psGCNZEX/0PzafV/5LSxYsJRp3AlgwYLVy4qmVLZ2WLBgKSwlNOe4PEA/mOVhwTqCpVd16teP1LdgwXo5a5lDLxtVBixY01i9JV19U5eiMyxYY1h7H5Z6zHU3bFiwZrLcx+7HZwMFFqwBLD3+5sS9YlO43MCCNYylb8buAUzDEgML1mCWcpBpFIPMpeTH6gULFqytz9GGVgNYsMaz9gJuZeEwOpJgwRrA0htx8gkqTQzSmQ8sWMexeqOwHrthwYIln1Ea+6bbrLB3aAoL1tksvfVHCb7uAvGnkAQL1jCWnbVbA7Td9QAL1nhWvfVHKiLDggWr/HnpBmWp0gwL1gCWG5orT6VWIViwhrEqByGVbb6tvgUL1rtZH5TLl7c5Gec7AAAAAElFTkSuQmCC"
       alt="微信分享二维码">
</div>