<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag 'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1495780744&di=28cb028c86795e1dd93df3d5086703e6&imgtype=jpg&er=1&src=http%3A%2F%2Fpic.58pic.com%2F58pic%2F15%2F78%2F93%2F82658PICY8N_1024.jpg', width: 300, alt: 'profile image' %>
  </div>
  <div class="col-md-8">
    <p>With over a decade of development experience in a number of industries I realized that the typical product creation process between clients and developers was flawed. All too often developers rarely communicate to clients throughout the development stage, resulting in a final product that fails to reach the goal sought by the customer and end user.</p>
    <p>For this reason I decided to utilize a completely different development pattern that focuses on highly focused communication and transparent design patterns. When I take on a project not only do I work to craft the application according to the client's specifications, I give daily updates to ensure that the project is aligning properly with the client's goals. The end result is the right product, delivered on time, and on budget.</p>
  </div>
</div>

