<div class="container marketing page-about-contact">
  <h1>Would you like to work together?</h1>

  <hr>

  <div class="row">
    <div class="col-md-6 about-me-left">
      <h3>Office Address</h3>

      <p>7150 E Camelback Rd, Suite 444, Scottsdale, AZ 85251</p>

      <h3>Phone</h3>

      <p><%= number_to_phone "4322386131" %></p>

      <h3>Email</h3>

      <p><a href="mailto:jordan@devcamp.com?subject=PortfolioContact">Email me</a> </p>
    </div>

    <div class="col-md-6">
      <iframe src="./my_location.html" width="450" height="450" frameborder="0" style="border:0" allowfullscreen scrolling="no"></iframe>
    </div>
  </div>
</div>



